html {
  background: rgba(255, 202, 88, 1);
  background: linear-gradient(
    68.2deg,
    rgba(237, 107, 236, 1) 0%,
    rgba(63, 81, 181, 1) 100.2%
  );
}

.App {
  margin: 0px;
  text-align: center;

  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

span.day-label {
  font-weight: medium;
  color: #111;
  line-height: 2.2;
  margin-top: 15px;
  margin-right: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
